<div style="font-family: Arial, sans-serif; line-height: 1.6;">
  <h2>Reset Your Password</h2>
  <p>We received a request to reset your password. Click the link below to set a new one:</p>
  <p>
    <a href="{{url}}" style="background-color: #d9534f; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
      Reset Password
    </a>
  </p>
  <p>If you didn't request this, you can ignore this email. Your password will remain the same.</p>
</div>